<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forretningsudvikler - Forside</title>
    <link rel ="stylesheet" th:href="@{/Styler.css}">
</head>

<body>
    <!-- Log ud knappen -->
    <ul class="logout" th:if="${session.loggedIn}">
        <li><a th:href="@{/logout}">Log ud</a></li>
    </ul>


    <div class = "container">
        <h1 class="title">Velkommen</h1><br>

        <!-- Statistik boksene -->
        <div class="forretningsudvikler-boxes">
            <div class="forretningsudvikler-box">
                <img src="/images/cars1.png">
                <h2>Antal biler i systemet:</h2>
                <p th:text="${antalBiler}">0</p>
            </div><br>

            <div class="forretningsudvikler-box">
                <img src="/images/cars3.png">
                <h2>Total pris på biler:</h2>
                <p th:text="${samletPris} + ' kr.'">0</p>
            </div><br>

            <div class="forretningsudvikler-box">
                <img src="/images/cars2.png">
                <h2>Antal udlejede biler:</h2>
                <p th:text="${samletBilerLejetUd}">0</p>
            </div>

        </div>
    </div>

</body>
</html>