<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>kunde</title>
    <link rel="stylesheet" th:href="@{/Styler.css}">
</head>
<body>

    <ul class="logout" th:if="${session.loggedIn}">
        <li><a th:href="@{/logout}">Log ud</a></li>
    </ul>

    <div class="container">
    <h1 class="title">Opret ny kunde</h1>

        <!-- Kunde oprettelsesformularen -->
        <form th:action="@{/kunde}" th:object="${kunde}" method="post" class="kundeform">

            <label for="fornavn">Fornavn:</label>
            <input type="text" th:field="*{fornavn}" id="fornavn" required />

            <label for="efternavn">Efternavn:</label>
            <input type="text" th:field="*{efternavn}" id="efternavn" required />

            <label for="fDag">Fødselsdag:</label>
            <input type="date" th:field="*{fDag}" id="fDag" required />

            <label for="email">Email:</label>
            <input type="email" th:field="*{email}" id="email" required />

            <label for="tlfNr">Telefonnummer:</label>
            <input type="text" th:field="*{tlfNr}" id="tlfNr" required />

            <label for="adresse">Adresse:</label>
            <input type="text" th:field="*{adresse}" id="adresse" required />

            <label for="postNr">Postnummer:</label>
            <input type="text" th:field="*{postNr}" id="postNr" required />

            <button type="submit">Gem kunde</button>
        </form>

        <!-- Tilbage link -->
        <div style="text-align: center; margin-top: 20px;">
            <a th:href="@{/kundeListe}">Tilbage til kundelisten</a>
        </div>

    </div>

</body>
</html>