<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>redigerLejeAftale</title>
  <link rel="stylesheet" th:href="@{/Styler.css}">
</head>
<body>

<ul class="logout" th:if="${session.loggedIn}">
  <li><a th:href="@{/logout}">Log ud</a></li>
</ul>

<h1>Rediger Lejeaftale</h1>

<form th:action="@{/lejeAftale/update}" th:object="${lejeaftale}" method="post">
  <input type="hidden" th:field="*{lejeaftaleId}" />

  <label for="kundeId">Kunde:</label>
  <select th:field="*{kundeId}" id="kundeId">
    <option th:each="k : ${kunder}"
            th:value="${k.kundeId}"
            th:text="${k.fornavn + ' ' + k.efternavn + ' - ' + k.email}">
    </option>
  </select><br><br>

  <label for="bilId">Bil:</label>
  <select th:field="*{bilId}" id="bilId">
    <option th:each="b : ${ledigeBiler}"
            th:value="${b.bilId}"
            th:text="${b.brand + ' ' + b.model + ' ' + b.nummerPlade + ' - ' + b.bilStatus}">
    </option>
  </select><br><br>

  <label>Startdato:</label>
  <input type="date" th:field="*{startDato}" /><br><br>

  <label>Slutdato:</label>
  <input type="date" th:field="*{slutDato}" /><br><br>

  <button type="submit">Opdater Lejeaftale</button>
</form>


<a th:href="@{/lejeAftaleListe}">gå tilbage</a>

</body>
</html>