<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RedigerKunder</title>
  <link rel="stylesheet" th:href="@{/style.css}">
</head>
<body>

<ul class="logout" th:if="${session.loggedIn}">
  <li><a th:href="@{/logout}">Log ud</a></li>
</ul>

<h1>Rediger Kunde</h1>

<form th:action="@{/kunder/update}" th:object="${kunde}" method="post">
  <input type="hidden" th:field="*{kundeId}">
  <label>Fornavn:</label>
  <input type="text" th:field="*{fornavn}" /><br><br>

  <label>Efternavn:</label>
  <input type="text" th:field="*{efternavn}" /><br><br>

  <label>Fødselsdag:</label>
  <input type="date" th:field="*{fDag}" /><br><br>

  <label>Email:</label>
  <input type="email" th:field="*{email}" /><br><br>

  <label>Telefonnummer:</label>
  <input type="text" th:field="*{tlfNr}" /><br><br>

  <label>Adresse:</label>
  <input type="text" th:field="*{adresse}" /><br><br>

  <label>Postnummer:</label>
  <input type="text" th:field="*{postNr}" /><br><br>

  <button type="submit">Gem kunde</button>
</form>

</body>
</html>