<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel ="stylesheet" th:href="@{/Styler.css}">
</head>


<body>

  <!-- Log ud -->
  <ul class="logout">
    <li><a href="/">Log ud</a></li>
  </ul>


  <div class = "container">

    <!-- Overskrift / titel -->
    <h1 class = "title">Velkommen</h1>


    <div class="function-boxes">
      <!-- Oprettelse af ny lejeaftale boksen -->
      <a href = "tilstandsrapport" class = "function-box">
        <img src="/images/cars1.png">
        <p>Udfør eftersyn</p>
      </a>


    </div>
  </div>


</body>
</html>