<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tilstandsrapport</title>
    <link rel="stylesheet" th:href="@{/Styler.css}">
</head>
<body>

<ul class="logout" th:if="${session.loggedIn}">
    <li><a th:href="@{/logout}">Log ud</a></li>
</ul>

<div class="container">
    <h1 class="title">Opret tilstandsrapport</h1>



<form action="/" method="post">
    <label for= "bil" style="text-align: left;">Bilnavn:</label>
    <input type="text" id="bil" name="bilnavn" required><br><br>

    <label for="bilModel" style="text-align: left;">bilModel:</label>
    <input type="text" id="bilModel" name="bilModel" required><br><br>

    <label for="datoTilsyn" style="text-align: left;">Dato for tilsyn:</label>
    <input type="text" id="datoTilsyn" name="datoTilsyn" required><br><br>

    <label for="fejlBeskrivelse" style="text-align: left">Beskrivelse af fejl og mangler</label>
    <input type="text" id="fejlBeskrivelse" name="fejlBeskrivelse" required><br><br>

    <label for="kundeId" style="text-align: left">Kunde:</label>
    <select name="kundeId" id="kundeId">
        <option disabled selected>-- vælg kunde --</option>
        <option th:each="k : ${kunder}"
                th:value="${k.kundeId}"
                th:text="${k.fornavn + ' ' + k.efternavn + ' - ' + k.email}">
        </option>
    </select><br><br>

    <label for="prisSaet" style="text-align: left;">Pris for fejl og mangler:</label>
    <input type="text" id="prisSaet" name="prisSaet" required><br><br>

    <label for="totalPris" style="text-align: left;">Totalpris:</label>
    <input type="text" id="totalPris" name="totalPris" required><br><br>


    <button type="submit">Gem rapport</button>
    <button type="submit">Rediger rapport</button>
</form>
    <p><a href="/skadeForside">Tilbage</a></p>
</div>
</body>
</html>